{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": ["jest", "flowtype", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "jest/globals": true
  }
}
